{% extends 'usuarios/base.html' %}

{% block title %}Meta de Peso{% endblock %}

{% block content %}
<h2>Meta para {{ perfil.nome }}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Calcular</button>
</form>

{% if resultado %}
    <hr>
    <h3>Resultado:</h3>
    <p>
        Para <strong>{{ resultado.objetivo }}</strong> <strong>{{ resultado.kg }} kg</strong>,<br>
        Consuma em média <strong>{{ resultado.dia }} kcal/dia</strong> ou <strong>{{ resultado.mes }} kcal/mês</strong>
    </p>
{% endif %}
{% endblock %}